# Python
__pycache__/
*.py[cod]
*.so

# Environment
.env
*.env

# Django
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
env/

# VSCode/IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Gunicorn socket (if used)
gunicorn.sock

# Certbot & SSL (if copied)
etc/letsencrypt/

# Nginx config (optional, if stored)
*.conf
