# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3

# Environment Variables
.env

# Static and media files
staticfiles/
media/

# VSCode
.vscode/
